<html>
  <head>
    <title>Demo App</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>
  </head>
  <body>
    <div class="container">
      <%- include('../layouts/header') %>
      <table border="1" style="width:50%">
        <tr>
          <th>Name</th>
          <th>price</th>		
        </tr>
        <% for(var i = 0; i < records.length; i++) { %>
          <tr>
            <td><%= records[i].name %></td>
            <td><%= records[i].price %></td>		
            <td><a href="/products/<%= records[i]._id %>">Show</a></td>
            <td><a href="/products/<%= records[i]._id %>/edit">Edit</a></td>
            <td>
              <form action="/products/<%= records[i]._id %>?_method=DELETE" method='post'>
                <input type="submit" value="Delete"/>
              </form>
            </td>
          </tr>
        <% } %>
      </table>
      <div>
        <br/>
        <a href="/products/new">Add New Product</a>
      </div>
    </div>
  </body>
</html>
